// Add any custom Sass & CSS here
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

// NAVIGATION 

.navigation 
{ 
	position:fixed;
	top: 0;
	width:100%;
	z-index:9999;
	text-align:center; 
	background-color: $header-footer-color;
	//background-color: rgba(64, 64, 64, 0.5);
	border: $half-border-black;
	//opacity:0.8;
	
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s; 
}

.small
{
	//height:8vh;
	height:70px;
}

.large
{
	//height:10vh;
	height:90px;
}


.navigation ul
{
	display:inline-block;
}

.navigation li
{
	padding:10px;
	width:25%;
	text-align:center;
}

.navigation a
{
	//font-size:24px;
	font-size:2vh;
	color:white;
}

.navigation a:hover
{
	//color:#c0c0c0;
	color:rgb(0, 204, 255);
}

// HOME
#home
{
	background-image:url("../data/home.jpg");
	background-size: cover;
	background-color:rgba(0, 204, 255, 0.5);
	background-blend-mode: multiply;
	//width:100vw;
	width:100%;
	height:100vh;
	background-attachment: fixed;
	top:0;
}

#home h5
{
	color:white;
	font-size:56px;
	line-height:55px;
	z-index:10;
	text-align:center;
	margin-top:25px;
	text-shadow: 2px 2px #909090;
}

#home h5:hover
{
	color:white;
	text-shadow: 1px 1px #909090;
}

#home img
{
	//height:10em;
	//width:7em;
	height:25vh;
	width:15vh;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#homeText
{
	display:none;
}


.homeContainer
{
	margin-top:150px;
}

#home div
{
	color:white;
	margin: 0 auto;
	text-align:center;
	font-size:64px;
}

// ABOUT ME
#aboutMe
{
	//height:1000px;
	height:100vh;
	width:100%;
	@include about-me-color();
	color:#404040;
	//color:rgb(0, 204, 255);
	text-align:center;
}

#aboutMe p
{
	//font-size:36px;
	font-size:1.5vw;
	//line-height:100px;
	line-height:6vh;
	margin-top:20px;
	//-webkit-text-stroke: 1px black;
	font-family: 'Ek Mukta', sans-serif;
}

#aboutMe h1
{
	//font-size:96px;
	font-size:4.5vh;
	color: black;
}

.carText
{
	//box-shadow: 3px 3px 3px #888888;
	margin-top:10vh;
}

.me
{
	height:25vh;
	width:15vh;
	margin-bottom:20px;
}

.circlePic
{
	height:40vh;
	width:27vh;
	margin-bottom:20px;
	border-radius:100%;
	border: 2px solid rgb(0, 204, 255);
}

.carContainer
{
	height:100%;
	margin-top:10vh;
}

.carousel
{
	width:30vw;
	margin: 0 auto;
	text-align: center;
	box-shadow: 3px 3px 3px #888888;
}

.carousel img
{
	height:80vh;
	width:100%;
	border: $half-border-off-black;
}

// EXPERIENCE
#experience
{
	//height:1000px;
	height:100vh;
	width:100%;
	@include experience-color()
}

#experience img
{
	height:25vh;
	width:25vh;
	margin: 10px 0px;
	//border-radius:30px;
	//box-shadow: 5px 5px 3px #888888;
	box-shadow: 10px 10px 10px #888888;
	border:$half-border-white;
	//border: 2px solid $blue;
	
}

.imgContainer
{
	margin: 0 auto;
	text-align: center;
}

#experience img:hover
{
	opacity:0.97;
}

.modal
{
	background-image:$background;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s; 
}

.modal h2
{
	text-align:center;
	font-size:25px;
	margin:10px;
	font-weight: bold;
}

.modal h3
{
	text-align:center;
	font-size:20px;
	margin:10px;
	font-style: italic;
}

.modal h4
{
	text-align:center;
	font-size:17px;
	margin:10px;
}

.modal li
{
	font-size:15px;
	margin-top:15px;
}

.modal ul
{
	margin-top:30px;
}

// SKILLS
#skills
{
	height:1000px;
	//height:100vh;
	width:100%;
	//text-align:center;
	@include skills-color()
}

.contact
{
	text-align:center;
	margin-top:150px;
}

.progress {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	width:100%;
	height:30px;
	overflow:hidden;
	background:#e5e5e5;
	//border-radius:6px;
	border: $half-border-black;
	box-shadow: 3px 3px 3px #888888;
}

.meter 
{
    position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:rgb(0, 204, 255);
	//border-right: $half-border-black;
}

.percent 
{
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:16px;
    color:white;
}

.scale
{
	text-align:center;
}

/* FOOTER */
.footer
{ 
	width:100%;
	height:70px;
	text-align:center; 
	background-color: $header-footer-color;
	bottom:0;
}

.footer i
{
	font-size:50px;
	margin-left:10px;
	margin-right:10px;
	color:white;
}

.footer i:hover
{
	color:$blue;
}

// OTHER
.active
{
	//background-color: rgba(80, 80, 80, 0.5);
	background-color:#505050;
	//background-color:rgba(0, 204, 255, 0.5);
}

.vert 
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

body, html 
{
    height: 100%;
	width:100%;
    margin: 0;
	background-color:#eeeeee;
	//background-image:$background;
	background-blend-mode:multiply;
	font-family: 'Cuprum', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Ubuntu', sans-serif;
}

hr
{
	display: block;
    height: 1px;
	width:80%;
    border: 0;
    border-top: 2px solid $blue;
    padding: 0;
}

.row
{
	max-width:1000000rem !important;
}

.slick-prev:before,
.slick-next:before
{
    color: #404040 !important;
}

@media only screen and (max-width: 640px) 
{
	#aboutMe p
	{
		font-size:24px;
	}
	.carText
	{
		margin-top:0px;
	}
	.carContainer
	{
		//margin-top:30px;
	}
	.carousel
	{
		width:80vw;
	}
	#experience img
	{
		height:15vh;
		width:15vh;
	}
}

@media only screen and (max-width: 1024px) 
{
   #aboutMe p
	{
		font-size:24px;
	}
	.carText
	{
		margin-top:5px;
	}
	.carContainer
	{
		//margin-top:30px;
	}
	.contact
	{
		margin-top:200px;
	}
	#experience img
	{
		height:17vh;
		width:17vh;
	}
}
