// Insert your variables

$header-font: 'Ubuntu', sans-serif;
$paragraph-font: 'Ek Mukta', sans-serif;
$body-font: 'Cuprum', sans-serif;
$background: url('../data/back.jpg');

$header-footer-color: #404040;
$border-black: 2px solid black;
$half-border-black: 1px solid black;
$border-white: 2px solid white;
$half-border-white: 1px solid white;
$border-off-black: 2px solid #404040;
$half-border-off-black: 1px solid #404040;

$blue: rgb(0, 204, 255);